@*
    Name: <YOUR NAME>
    Admin No: 241036U
    Tutorial Group: <TUTORIAL GROUP>
*@
@page
@model ArcaneVault.Web.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Log Out";
}

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>Log Out</h1>
        <p>Click the button below to end your session.</p>
        <form method="post">
            <button type="submit" class="btn btn-primary">Log Out</button>
        </form>
    </div>
</div>
